@charset "utf-8";

/* デフォルト
------------------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lusitana', serif, 'Noto Sans JP', sans-serif;
    background-color: #211715;
}

h2 {
    color: #D2A12C;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 1em;
}

.wrapper {
    margin: 2em;
}


/* index.html
====================================================================================================- */


/* ローディング */

#loading {
    position: fixed;
    background-color: #211715;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    margin: 0;
    padding: 0;
    transition: all 1s;
}

.loaded {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

#loading-txt {
    color: #fff;
    font-size: 1rem;
    line-height: 33px;
    letter-spacing: 0.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
}

/* hero */

#hero {
    position: relative;
}

#hero-images {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    text-align: left;
}

#hero-images img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    background-color: rgba(23, 11, 11, .7);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
}

.header.fixed-none {
    opacity: 0;
    z-index: -1;
}

header span {
    color: #fff;
}

header p {
    color: #fff;
    margin: 1.5em 5em 1.5em 2em;
    letter-spacing: 0.03em;
    animation: txtAnim forwards 2s ease;
    opacity: 0;
}

@keyframes txtAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#hero h1 {
    position: absolute;
    bottom: 0;
    left: .5em;
    margin: 0 auto;
    font-size: 19vw;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: transparent;
    -webkit-text-stroke: .8px #fff;
    text-transform: capitalize;
    animation: txtAnim forwards 2s ease;
    opacity: 0;
}

@keyframes txtAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ハンバーガー */
/* botton */
.ham-btn {
    position: fixed;
    z-index: 9999;
    top: 10px;
    right: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0.8px solid #D2A12C;
    border-radius: 10px;
}

.ham-btn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 1px;
    background-color: #D2A12C;
    width: 45%;
}

.ham-btn span:nth-of-type(1) {
    top: 15px;
}

.ham-btn span:nth-of-type(2) {
    top: 23px;
}

.ham-btn span:nth-of-type(3) {
    top: 30px;
}

.ham-btn.active span:nth-of-type(1) {
    top: 24px;
    left: 9px;
    transform: rotate(-45deg);
    width: 30px;
}

.ham-btn.active span:nth-of-type(2) {
    opacity: 0;
}

.ham-btn.active span:nth-of-type(3) {
    top: 24px;
    left: 9px;
    transform: rotate(45deg);
    width: 30px;
}

/* ham-bg */
#g-nav {
    width: 100%;
    height: 100vh;
    top: 0;
    right: -120%;
    background-color: #211715;
    transition: all .5s;

    position: fixed;
    z-index: 999;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#g-nav li {
    text-align: center;
}

#g-nav li a {
    color: #D2A12C;
    display: block;
    padding: 31px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    cursor: pointer;
}

/* ニュースページ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#news-page p {
    border-bottom: .8px solid #fff;
    padding-bottom: 0.2em;
    letter-spacing: .3px;
}

#news-p2 {
    margin-top: 1em;
    margin-bottom: 1em;
}



/* アバウトページ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#abt-page {
    position: relative;
}

#abt-page p {
    letter-spacing: .3px;
}

#abt-p2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#abt-p3 {
    margin-bottom: 210px;
}

#abt-img1 {
    width: 42vw;
    position: absolute;
    bottom: -12em;
    left: 2em;
    max-width: 203px;
}

#abt-img1 img {
    width: 100%;
}

#abt-img2 {
    width: 29vw;
    position: absolute;
    bottom: -14em;
    left: 11em;
    max-width: 128px;
}

#abt-img2 img {
    width: 100%;
}

/* スケジュールページ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#sche-page {
    margin-top: 17em;
}

/* カレンダー */
#calender-menu {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1em;
}

#calender-menu p {
    cursor: pointer;
    border: 0.8px solid #fff;
    border-radius: 10px;
    padding: 0.2em
}

#prev-btn {
    width: 19px;
    height: 16px;
    border-top: 0.8px solid #fff;
    border-left: 0.8px solid #fff;
    transform: rotate(-45deg);
}

#next-btn {
    width: 19px;
    height: 16px;
    border-top: 0.8px solid #fff;
    border-right: 0.8px solid #fff;
    transform: rotate(45deg);
}

.february,
.april {
    flex-basis: 25%;
}

.march {
    flex-basis: 50%;
    margin: 0 0.3em;
}

/* スケジュールボックス */
#schedule-box {
    border: .8px solid #fff;
    border-radius: 10px;
}

.sche-date {
    border: 0.8px solid #fff;
    display: inline-block;
    padding: 0.8em;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
}

.sche-date span {
    margin-left: 0.5em;
}

.slide-feb h3 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 1.4em;
}

.cast-info {
    font-size: 1rem;
}

.open-button {
    border: 0;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.top-content {
    padding: 2em 0.8em;
}

.feb2nd {
    padding: 2em 0.8em;
    border-top: 0.8px solid #fff;
    border-bottom: 0.8px solid #fff;
}

.top-content .img {
    margin-top: 1em;
    text-align: center;
}

.top-content img {
    width: 50vw;
    max-width: 250px;
}



/* ポップアップボックス */
/* ラジオボタン */
#schedmodalule-box input[type=radio] {
    display: none;
}

/* input[type=radio]:cheked+label {} */

.modal form {
    padding: 2em 2em 0;
    display: flex;
    justify-content: space-around;
}

.radio-btn {
    color: #D2A12C;
    font-size: 2rem;
    position: relative;
}

/* 自作ラジオボタン */
.radio-btn::after {
    position: absolute;
    content: "";
    display: block;
    top: 7px;
    left: -34px;
    width: 22px;
    height: 22px;
    border: 0.8px solid #D2A12C;
    border-radius: 10%;
}

.radio-btn::before {
    /* クリックされたら */
    position: absolute;
    content: "";
    display: block;
    top: 12px;
    left: -28px;
    width: 13px;
    height: 13px;
    background-color: #D2A12C;
    border-radius: 10%;
    opacity: 0;
    /* jsでクリック時opacity1にしたい */
}

input[type=radio]:checked+.radio-btn::before {
    opacity: 1;
    /* 要素を表示する */
}

.radio-btn:hover::before {
    background-color: #D2A12C;
    border-radius: 10%;
    opacity: .4;
}

/* ポップアップ画面 */
.modal {
    display: block;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #170B0B;
    box-shadow: 0 0 60px 10px rgba(23, 11, 11, .7);
    border-radius: 10px;
    width: 90vmin;
    height: auto;
}

.closed {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

/* サマリーウィンドウ、共通 */
.summary-container {
    display: block;
}

.modal .container {
    background-color: #fff;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    overflow: scroll;
    -webkit-transform: overlay;
    -ms-transform: overlay;
    transform: overlay;
    max-height: 600px;
}

.modal-guts {
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.modal-guts h4 {
    color: #D2A12C;
    margin-bottom: 1.5em;
    font-size: 1.8rem;
    letter-spacing: .1em;
}

.modal-guts h4 span {
    color: #333;
    margin-left: .5em;
    font-size: 1rem;
}

.modal-guts p {
    padding-left: 2em;
    line-height: 1.6em;
    color: #333;
}

.modal-guts .feb1-summaryimg {
    width: 52%;
    margin: 1.5em auto;
    max-width: 500px;
}

.modal-guts figure img {
    width: 100%;
}

/* キャストウィンドウ */
.cast-container {
    display: none;
}

.modal-guts .feb1-castimg {
    width: 50%;
    margin: 1.5em auto;
    max-width: 400px;
    padding-bottom: 1em;
}

.modal-guts .feb1-castimg:nth-of-type(4) {
    padding-bottom: 0;
}

.modal-guts figcaption {
    margin-top: 1em;
    color: #333;
}

.modal-guts .person-info {
    padding-left: 0;
    line-height: 1.6em;
    font-size: .8rem;
    margin-top: 1rem;
    letter-spacing: 1px;
}


.ticket-btn {
    background-color: #D2A12C;
    color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.ticket-btn::after {
    content: "";
    background: url(../images/ticket_icon.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
}

#like-btn {
    background-color: #db4081;
    color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

#like-btn::after {
    content: "";
    background: url(../images/heart.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
}

#like-counter {
    padding-left: .3em;
}

.close-button {
    position: absolute;
    z-index: 1;
    top: 99px;
    right: 20px;
    background-color: transparent;
    border: 0.8px solid #D2A12C;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.close-button span {
    display: inline-block;
    position: absolute;
    top: 1.2em;
    left: 0.57em;
    height: 0.8px;
    background-color: #D2A12C;
    width: 56%;
}

.close-button span:nth-of-type(1) {
    transform: rotate(-45deg);
}

.close-button span:nth-of-type(2) {
    transform: rotate(45deg);
}

/* アクセスページ */
#access-page #inner {
    margin: 2em 2em 0 2em;
    background-color: rgba(255, 255, 255, .3);
    padding: 2em;
}

#access-page {
    background: url(../images/access-bg.png);
    background-repeat: no-repeat;
    background-position: center 18%;
    background-size: 100%;
    height: 500px;
}

#access-page h2 {
    margin-left: 1em;
    padding-top: 1em;
}

#access-page li {
    letter-spacing: .3px;
    line-height: 1.7rem;
    text-shadow: 2px 2px 0px #666;
}

#access-page li:nth-of-type(2) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* フッター */
.footer {
    padding: 10px;
    font-size: 12px;
}

.copyright {
    color: #999;
    text-align: center;
    margin-bottom: 3px;
}

.footer a:hover {
    color: #000;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
}

.footer li a {
    color: #999;
}




/* メディアクエリ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


@media screen and (min-width: 768px) {
    #hero h1 {
        font-size: 13rem;
    }

    /* ニュースページ*/
    #news-page p:nth-of-type(2) {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    /* アバウトページ */
    #abt-p2 {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #abt-img1 {
        width: 42vw;
        position: absolute;
        bottom: -15em;
        left: 46%;
        min-width: 352px;
    }

    #abt-img1 img {
        width: 100%;
    }

    #abt-img2 {
        width: 29vw;
        position: absolute;
        bottom: -17em;
        left: 68%;
        min-width: 259px;
    }

    #abt-img2 img {
        width: 100%;
    }

    /* カレンダーページ */
    /* header */
    #calender-menu p {
        padding: 1%;
    }

    .top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .p-area {
        width: 18%;
        max-width: 145px;
        height: 89px;
        margin: 0 2em;
    }

    .sche-date {
        width: 100%;
        font-size: 1.7em;
    }

    .title-area {
        width: 45%;
    }

    .title {
        margin-top: 0;
    }



    /* ポップアップウィンドウ */
    .cast-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .cast-flex figure {
        width: 20% !important;
    }

    .modal-guts figcaption {
        width: 100px;
    }

    .feb1-castimg {
        padding: 1em;
    }

    /* フッター */
    .footer-flex {
        justify-content: center;
    }

    .footer li {
        margin-top: 3px;
    }

    .footer li a {
        padding: 2em;
        margin-top: 3px;
    }

}


/* entry_form.php
=========================================================================================== */

input[type="text"],
input[type="password"]{
    color: #333;
}

#entry-flex{
    display: flex;
    justify-content: space-evenly;
}

.container{
    text-align: center;
    margin: 3em;
}


.form-flex{
    display: flex;
    flex-direction: column;
}

.container p,
.mail,
.password{
    margin-top: 1em;
}
.name{
    margin: 1em 0;
}
.sub_name{
    margin-bottom: 1em;
}
.re_password{
    margin-top: 8px;
    margin-bottom: 1em;
}
.submit{
    color: #333;
}

.container span{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container button{
    color: #333;
}

/* entry.php
=========================================================================================== */

#radio_flex{
    display: flex;
    justify-content: center;
}

.man{
    padding-right: 10px;
}
.female{
    padding:0 10px ;
}
.others{
    padding-left: 0 10px;
}


